<h1> WEATHER</h1>
<a class="a" href="@Url.Action("ParisWeather", "Weather")">Check weather conditions in Paris</a>
<a class="a" href="@Url.Action("WeatherSearcher", "Weather")">Search for weather in your city</a>



<style>
    .a {
        font-size: 30px;
        border: double;
        margin-bottom: 30px;
        margin-top: 30px;
        width: 300px;
        float: left; /* add this */
        margin-left: 30px;
        position: center;
        text-align: center;
    }
</style>