<h1> MUSIC</h1>
<a class="a" href="@Url.Action("YourArtists", "Artist")">Your favourite artists</a>
<a class="a" href="@Url.Action("SearchArtist", "Artist")">Search artist</a>



<style>
    .a {
        font-size: 30px;
        border: double;
        margin-bottom: 30px;
        margin-top: 30px;
        width: 300px;
        float: left; /* add this */
        margin-left: 30px;
        position: center;
        text-align: center;
    }
</style>